
.barchart-one-head{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: -5px;
}
.invoice-button{
    color: #69BD78!important;
    background-color: #E8EEFD !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
   margin-bottom: 10px !important;
}
.invice-head{
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}